div.WireIt-ImageContainer {
	width: auto; /* Prevent the modules from scratching on the right */
	height: auto;
}
// huh?
div.WireIt-Container div.inputEx-Group div.inputEx-label {
	width: auto;
}

div.inputEx-TypeField-PropertiesPanel {
	z-index: 7;
}

div.WireIt-Container.WiringEditor-module-comment div.body {
	background-color: #EEEE66;
}

div.WireIt-Container.WiringEditor-module-comment div.body textarea {
	background-color: transparent;
	font-weight: bold;
	border: 0;
}


div.ComposedModule {
	background-color: #DDDDAA;
}

label {
  color: #3366CC;
  font-weight: bold;
}

input {
  border: 1px solid  #DDDDAA;
  float: right;
}

.inputBox {
  display: block;
  clear: both;
  margin-top: 10px;
  padding: 2px;
  float: left;
}


div.title {
  display: block;  
  position: relative;
  font-size: 16px;
  float: left;
  width: 200%
  z-order: 10;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter:alpha(opacity=80);
  background-color: white
}

#prop_form_closer {
  display:block;
  float: right;
  clear: both;
  background-image: url(../images/close.png);
  background-repeat: no-repeat;
  background-position: top right;
  padding: 0px;
  margin: 0px;
  width: 25px;
  height: 15px;
  cursor: pointer;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter:alpha(opacity=50);
}

#prop_form {
 opacity: 0.9;
 -moz-opacity: 0.9;
 filter:alpha(opacity=90);
 background-color: white;
 padding: 4px;
 color:  #3366CC;
 border: 2px solid  #3366CC;
 display: table-cell;
 z-index: 1000;  
 position: fixed; 
 width: 240px;
 right: 50%;
 top: 50%;
 padding: 2px;
 margin: 2px;
 float: left;
 text-align: center;
}

#prop_fields tr td {
 border: none;
}


#palette {
  width: 200px;
  display: table;
  text-align: left;
  margin: 4px;
  background-color: white;
} 

.pallet_element {
  display: block;
  width: 20px;
  height: 20px;
  clear: none;
  border: 1px solid gray;
  margin: 2px;
  padding: 0px;
  float: left;
}

#layerMap {
  display: none;
}
.selected {
  border: 1px solid #3366CC; !important;
}


