div.WireIt-ImageContainer {
	width: auto; /* Prevent the modules from scratching on the right */
	height: auto;
}

div.WireIt-Container div.inputEx-Group div.inputEx-label {
	width: auto;
}

div.inputEx-TypeField-PropertiesPanel {
	z-index: 7;
}



div.WireIt-Container.WiringEditor-module-comment div.body {
	background-color: #EEEE66;
}


div.WireIt-Container.WiringEditor-module-comment div.body textarea {
	background-color: transparent;
	font-weight: bold;
	border: 0;
}


div.ComposedModule {
	background-color: #DDDDAA;
}

label {
  text-align: right;
  height: auto;
  width: 25%;
  float: left;
  clear: left;
  margin: 5px;
  color: #3366CC;
}

input {
  margin: 5px;
  text-align: left:
}

div.inputBox {
  display: block;
  clear: both;
  margin: 2px;
  float: left;
  width: 100%;
  clear: both;
}

#prop_form {
 display: block;
 clear: both;
 width: 90%;
 padding: 10px;
 margin: 10px;
 border: 1px solid #3366CC;
 float: left;
}

}